#web
    padding: 70px 0
    .box
        padding: 10px
        border-radius: 30px
        background-color: #A2D2FF
        width: 280px
        height: 220px
        h1
            font-weight: 700
            font-size: 60px
            color: #ffffff
        input
            border: 2px solid #6291d8
            border-radius: 50px
            margin: 30px 0
        .btn
            border: 2px
            padding: 5px 30px
            border-radius: 20px
            background-color: #ffff
            color: #6291d8
            font-size: 20px
    .minibox2
        margin-top: 20px
        text-align: center
        h2
            font-size: 19px
            border: 2px solid #252525
            border-radius: 15px
            padding: 10px 70px
            margin-top: 7px
