#web
    padding: 70px 0
    .box
        padding: 22px
        border-radius: 20px
        background-color: #A2D2FF
        width: 280px
        height: 225px
        h1
            font-weight: 700
            font-size: 42px
            color: #ffffff
        input
            border: 2px solid #6291d8
            border-radius: 20px
            margin: 22px 0
            padding: 15px 25px
        .btn
            border: 2px
            padding: 5px 20px
            border-radius: 20px
            background-color: #ffff
            color: #6291d8
            font-size: 20px
    .minibox2
        margin-top: 20px
        text-align: center
        h2
            font-size: 19px
            border: 2px solid #252525
            border-radius: 20px
            padding: 10px 70px
            margin-top: 10px
