#web
    padding: 70px 0
    .box
        border-radius: 30px
        background-color: #CAF0F8
        width: 300px
        height: 400px
        h1
            padding: 20px 0
            font-weight: 700
            font-size: 60px
            color: #6291d8
        input
            border: 2px solid #6291d8
            border-radius: 50px
            margin: 50px 0
        .btn
            border: 2px
            padding: 5px 30px
            border-radius: 20px
            background-color: #6291d8
            color: #ffff
            font-size: 20px
